@import '../Vars.styl'
h2
    font-size 32px
.Carousel-section
    padding 2em 0 5em 0
    background-color #f8f9fa
    display block
    line-height 1.7
    font-size 16px
   
 .Carousel-container
      width 100%
      margin-right auto
      margin-left auto

.Carousel-container-title
    justify-content center
    text-align center
    font-family: 'Muli', sans-serif;
        

.Caousel-container-products
    display flex
    flex-wrap wrap
    
    

.products-carousel
    transform translate3d(0px, 0px, 0px)
    width 100%
    padding-top 40px
    padding-bottom 40px
    display flex
    justify-content center 

.carousel-item
    display block

.carousel-item-block    
    text-align center

.item-block-image
    display block
    margin 0 0 1rem
    margin-block-start 1em
    margin-block-end 1em
    margin-inline-start 40px

.item-image
    display block
    width 100%
    vertical-align middle
    

.item-block-text
    padding 1.5rem!important
    display block
    font-family: 'Open Sans', sans-serif;
    h3 
        color ventu-color3

.text-primary 
    color ventu-color1        

.carousel-item  
    width: 300px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;



