.Carousel-section
    padding 5em 0 
    background-color #f8f9fa
    display block
    line-height 1.7
    font-size 16px
   
 .Carousel-container
      width 100%
      padding-right 15px
      padding-left 15px
      margin-right auto
      margin-left auto

.Carousel-container-title
    justify-content center
    text-align center
    

.Caousel-container-products
    display flex
    flex-wrap wrap 
    margin-right -15px
    margin-left -15px

.products-carousel
    transform translate3d(0px, 0px, 0px)
    width 1730px
    padding-left 15px
    padding-right 15px
    padding-top 40px
    padding-bottom 40px
    display block

.carousel-item
    display block

.carousel-item-block    
    text-align center

.item-block-image
    display block
    margin 0 0 1rem
    margin-block-start 1em
    margin-block-end 1em
    margin-inline-start 40px

.item-image
    display block
    width 100%
    vertical-align middle
    

.item-block-text
    padding 1.5rem!important
    display block
    h3 
        color #7971ea

.carousel-item  
    width: 300px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;



