.Checkout
  grid-template-columns 3fr 1fr
  grid-gap 2rem
  grid-row-gap 1.5em
  display grid
  &-content-items
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    align-items: center
    text-align: center
    background-color: #33b1ff70
  &-item
    display flex
    justify-content space-between
    align-items center
    text-align: center;
    .fas
      color  rgba(0,0,0,.4)
      cursor pointer
  &-element
    display grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    width 100%
    text-align: center
    align-items: center
    border-bottom 1px solid #33b1ff
    h4
      margin 0