font--ventu--color = #8c92a0

.Title-explanation
    display flex
    justify-content center
    padding 10px



.section-explanation
    padding 0 0 4em 0 
    border-bottom 1px solid #edf0f5
    display block 
    font-weight 300
    font-size 16px
    
.container-explanation
    width 100%
    padding-right 15px
    padding-left 15px
    margin-right auto
    margin-left auto
    box-sizing border-box
    h2
        color #25262a
        letter-spacing 0.05em
        font-size  18px
        margin-top 0

.explanation-table
    display flex
    flex-wrap wrap
    margin-right -15px
    margin-left -15px
    
   
.firstrow-first 
    display block
    position relative
    opacity 1
    transform translate(0)
    transition .8s
    padding-left 1.5rem
    padding-right 15px
    margin-bottom 1.5rem


.firstrow-second
    display block
    position relative
    opacity 1
    transform translate(0)
    transition .8s
    padding-left 1.5rem
    padding-right 15px
    margin-bottom 1.5rem

.secondrow-first 
    display block
    opacity 1
    transform translate(0)
    transition .8s
    padding-left 1.5rem
    padding-right 15px
    margin-bottom 1.5rem


.secondrow-second
    display block
    opacity 1
    transform translate(0)
    transition .8s
    padding-left 1.5rem
    padding-right 15px
    margin-bottom 1.5rem
       
.explanation-icon 
    align-self-start 

.icon
    color #7971ea
    height 50px
    width 50px

.explanation-text
    display block
    line-height 1.7
    color font--ventu--color
    p
        display block
        margin-block-start 1em 
        margin-block-end 1em
        margin-inline-start 0px
        margin-inline-end 0px
        







