font--ventu--color = #8c92a0

.section-explanation
    padding 0 0 4em 0 
    border-bottom 1px solid #edf0f5
    display block 
    font-weight 300
    font-size 16px
    

.Title-explanation
    display flex
    justify-content center
    padding 15px 0 15px 0
    font-family 'Muli', sans-serif
    
.container-explanation
    width 100%
    display flex
    justify-content center


    h2
        color #25262a
        letter-spacing 0.05em
        font-size  18px
        margin-top 0

.explanation-table
    display flex
    flex-wrap wrap
    margin-right -15px
    margin-left -15px
    
   
.firstrow-first 
    display flex
    position relative
    opacity 1
    transform translate(0)
    transition .8s
    padding-left 1.5rem
    padding-right 15px
    margin-bottom 1.5rem


.firstrow-second
    display flex
    position relative
    opacity 1
    transform translate(0)
    transition .8s
    padding-left 1.5rem
    padding-right 15px
    margin-bottom 1.5rem

.secondrow-first 
    display flex
    opacity 1
    transform translate(0)
    transition .8s
    padding-left 1.5rem
    padding-right 15px
    margin-bottom 1.5rem


.secondrow-second
    display flex
    opacity 1
    transform translate(0)
    transition .8s
    padding-left 1.5rem
    padding-right 15px
    margin-bottom 1.5rem
       
.explanation-icon 
   

.icon
    color #7971ea
    height 50px
    width 50px

.explanation-text
    display block
    line-height 1.7
    font-family: 'Roboto', sans-serif;
   
    p
        display block
        margin-block-start 2px
        margin-block-end 1em
        margin-inline-start 0px
        margin-inline-end 0px
        font-family: 'Open Sans', sans-serif;
        
    h2 
        margin-bottom 0
        font-family: 'Open Sans', sans-serif;






