@import '../Vars.styl'
@import url('https://fonts.googleapis.com/css?family=Muli|Roboto&display=swap')

.FAQ-container
    background-color #f8f9fa
    height 600px
    font-family 'Muli', sans-serif;
    

