@import '../Vars.styl'

.Footer-container
    display flex
    align-items flex-start
    color #8c92a0
    font-size 16px


.footer--terms 
    width 40%
    display flex
    justify-content space-between
    margin-left 20px
    

.footer-social
    width 60%
    display flex
    justify-content flex-end

.social-description
     margin-bottom 5px

.social-icons
    display block
    margin-right 20px
    margin-bottom 10px
    



.social-icon
    margin-right 5px

