@import '../Vars.styl'
@import url('https://fonts.googleapis.com/css?family=Muli|Roboto&display=swap');


.Header__container
  display block
  font-family: 'Mukta', sans-serif
  
  
.Header__superior--container
  border-bottom 1px solid #8c92a0
  display flex
  align-items center 
  justify-content space-between

.cart__container
   display flex
   margin-right 10px
     
.logo
  height 100px
  width 280px

.icon
  height 30px
  width 30px

.Header-alert
  color #33b13a
  font-size 14px
  margin-left 5px

.Header__inferior--container
 text-align center
 padding 20px
 border 20px


.Inferior-menu.cont
  display block
  text-align !important

.Header__menu
  display flex
  align-items center
  justify-content center
  text-decoration none

  li
    list-style none
    padding 10px 20px 10px 20px

.Link-header
  text-decoration none
  color #000000
  
.Header-alert
  display flex
  align-items flex-start
  color ventu-color1
  font-size 15px
  margin-left px




 
  
  

