@import '../Vars.styl'

.site-blocks-cover
    background-color ventu-color3
    min-height 600px
    height calc(100vh - 174px)
    width 100%
    overflow-x hidden
    font-family Sans-serif,helvetica 

.container-intro
    display flex
    padding auto 15px auto 15px

.columns 
    display flex
    align-items center 
    width 50%
    min-height 600px
    height calc(100vh - 174px)
    
    
.container-intro-image
    width 100%
    height 80%
    display flex
    justify-content flex-start
    align-items center 

.intro-image
    width 80%
    height 70%
    

    
.contaianer-intro-text
    width 350px
    display flex
    justify-content center


.mb-2
    font-size 50px
    margin-bottom 0.5rem!important
    line-height 1.2
    margin-top 0
    display block
    margin-block-start 0.67em
    margin-block-end 0.67em
    margin-inline-start 0px
    margin-inline-end 0px
    
.intro-text 
    font-size 16px
    line-height 1.5
    display block
    text-align left

.mb-4
    color #333333
    font-size 20px
    line-height 35px
    margin-bottom 1.5rem!important 



.Button
    cursor pointer
    padding 10px 20px !important
    background-color ventu-color2
    font-size 14px !important
    font-weight 300
    border-radius 5px;
    border-color #7971ea
    line-height 1.5

.Button-link
    color white
    text-decoration none
    letter-spacing .2em

    
    
    

    

