.notFound__container
    display flex
    flex-direction: column
    justify-content center
    align-items center
    font-size 32px
    justify-items center
    align-items center
    height 90vh

.notFound__container h1
    margin 0
.notFound__image
    max-width 257px