.NotFound
    display flex
    flex-direction column
    justify-content center
    align-items center
    &__img
        max-width 400px
    &__backToHome
        background-color #33b1ff
        color white
        text-decoration none
        padding 1rem
        &:hover
            background-color #33b13a
