@import '../Vars.styl';
@import url('https://fonts.googleapis.com/css?family=Muli|Roboto&display=swap');

.Thanks--container 
    width 100%
    background-color #f8f9fa
    height 600px
    display flex
    justify-content center 
    align-items center
 .Thanks--container--site 
    display flex
    justify-content center 

.container--site--title
    display block
    text-align center
    font-family: 'Muli', sans-serif;
    h2
     margin-bottom 10px
     padding-bottom 15px
     border-bottom 1px solid #8c92a0

.container--site--button
    display flex
    justify-content center

.return--button
  cursor pointer
  padding 10px 20px 10px 20px !important
  background-color ventu-color1
  font-size 18px !important
  font-weight 300
  border-radius 10px;
  border-color ventu-color1
  line-height 1.5
  width 300px
  font-family: 'Roboto', sans-serif;

.return--button--link
    color white 
    text-decoration none